<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZO.DMM.AppNF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ZO.DMM.AppNF.Properties.Settings>
      <setting name="ProbingPaths" serializeAs="String">
        <value>lib</value>
      </setting>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://github.com/ZeeOgre/ZO.DevModManager/releases/latest/download/AutoUpdater.xml</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>0.0.9.0</value>
      </setting>
    </ZO.DMM.AppNF.Properties.Settings>
  </applicationSettings>
</configuration>